body{
  font-family: sans-serif;
  font-weight: 100;
}
.card{
  color: hsl(0, 0%, 100%);
  background-color: hsl(50, 100%, 50%);
  border-radius: .2em;
  padding: .2em;
}
.column{
  display: flex;
  flex-direction: column;
}
.space{
  padding-bottom: 1em;
}
button{
  padding: .5em;
  border-radius: .1em;
  margin-left: auto;
  margin-right: auto;
}
button:hover{
  background-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 100%);
}
button:active{
  background-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 100%);
}
.middle{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
hr{
  border: none;
}
.container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
textarea{
  resize: none;
  width: 99%;
  max-width: 99%;
}
.left-line{
  padding: .2em;
  border-left: medium solid hsl(50, 100%, 50%);
}
